
#item-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.rute{ 
    height: 80px;
    width: 80px;
    background-color: antiquewhite;
    border: solid black;
}